.cart {
    position: absolute;
    top: 5rem;
    left: .5rem;
    right: .5rem;
    border-radius: .5rem;
    font-weight: 700;
    z-index: 1;
    background-color: var(--White);
}
.cart__title {
    border-bottom: 1px solid var(--GrayishBlue);
    padding: 1rem;
}
.cart__content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--DarkGrayishBlue);
    min-height: 16rem;
    flex-grow: 1;
}

@media screen and (min-width: 600px) {
    .cart {
        left: auto;
        right: 6rem;
        width: 24rem;
        box-shadow: 0 10px 15px 1px var(--GrayishBlue);
    }
    
}