.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--LightGrayishBlue);
    padding: 1rem;
    border-radius: .5rem;
    min-width: 6rem;
}

.quantity > p {
    font-weight: 700;
}

@media screen and (min-width: 600px) {
    .quantity {
        flex: 3;
    }
    .quantity__button:hover {
        transition: .2s;
        cursor: pointer;
        opacity: .6;
    }
}